<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <header>
      </header>

      <%= yield %>

      <footer>
        <hr />
        <%= link_to "トップへ戻る", {action: :index} %>
      </footer>

    </div>

  </body>

</html>
