<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <button class="btn btn-primary" type="button">サンプルボタン</button>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
